@CHARSET "ISO-8859-1";
body{
background-image: url('bg3.jpg');
}

#header{
	height: 300px;
	width: 1333px;
	background-image: url('bg.jpg');
	border: 2px #D63375 solid;
}



#h1{
	font-family:Cambria;
	margin-top:6px;
}
.navs{
    position:fixed;	
    margin-top:35px;
    margin-left:-10px;
}

#header2{
	position: absolute;
	text-decoration:none;
	border-radius: 2%;
	
    margin-top:-50px;
    margin-left:370px;
    height: 60px;
    width:600px;
	border: 2px #D63375 solid;
	font-size:18px;
	background-image:url('bg5.jpg')
}

a{
	color:black;
	text-decoration:none;
}
a:visited {
    text-decoration: none;
}
a:hover{
	text-decoration:underline;
	background-color:white;
	
}

#home{
	height:42px;
	width:180px;
	background-color:white;
	border-radius:2%;
	font-family:Verdana;
	border: 0.5px #D63375 solid;
	opacity:0.6;
}
#about{
	height:42px;
	width:180px;
	font-family:Verdana;
	background-color:white;
	border-radius:2%;
	border: 0.5px #D63375 solid;
	opacity:0.6;
}
#products{
	height:42px;
	width:180px;
	background-color:white;
	border-radius:2%;
	border: 0.5px #D63375 solid;
	font-family:Verdana;
	opacity:0.6;
}
#faqs{
	height:42px;
	width:180px;
	font-family:Verdana;
	background-color:white;
	border-radius:2%;
	border: 0.5px #D63375 solid;
	opacity:0.6;
}
#order{
	height:42px;
	width:180px;
	font-family:Verdana;
	background-image:url('bg5.jpg');
	border-radius:2%;
	border: 0.5px #D63375 solid;

}

#question{
	height: 200px;
	width:200px;
	position:absolute;
	margin-left: 1050px;
	margin-top:50px;
}

#submit{
	position:absolute;
	margin-left:633px;
	margin-top: 260px;
	height:50px;
	width:150px;
	opacity:0.6;
}

#option1{
	position:absolute;
	background-image:url('bg5.jpg');
	height:130px;
	width:250px;
	border:2px solid #D63375;
	margin-left:300px;
	margin-top:110px;
	
}
#option2{
	position:absolute;
	background-image:url('bg5.jpg');
	height:130px;
	width:250px;
	border:2px solid #D63375;
	margin-left:700px;
	margin-top:110px;
	
}
#idoption1{
	position:absolute;
	margin-top: 50px;
	margin-left: 70px;
	font-size: 30px;
}
#idoption2{
	position:absolute;
	margin-top: 50px;
	margin-left: 65px;
	font-size: 30px;
}